@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .red{
            background-color:deeppink;
        }
        .redtext {
            color: darkred;
        }
    </style>
</head>
<body>

    <p>
        <a href="/client">liste des clients</a>
    </p>

    <div id="div1">
        Test de texte 1
    </div>
    <div id="div2" class="red">
        Test de texte 2
    </div>
    <p id="p2" class="red">
        Test de parag. 2
    </p>
    <div>
        <div>ligne 1</div>
        <div>
            <div>ligne 2</div>
            <div>ligne 3</div>
        </div>
        <div>
            <p>ligne 4</p>
            <p>ligne 5</p>
        </div>
    </div>

</body>


</html>
