@{
    Layout=null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Error</title>
    </head>
    <body>
        <h1>Une error s'est prodiute lors du traitement de votre demande</h1>
    </body>
</html>
