@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Supprimer</title>
</head>
<body>
    <div> 
        Merci d'avoir supprimé le client, James.
        <a href="~/client">Retour à la liste</a>
    </div>
</body>
</html>
