@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/myStyle.css"/>    
</head>
<body>
    <div>
        <h1>Hello Wordl. Welcome to ASP.NET MVC4</h1>
    </div>
</body>
</html>
